h2, h1, p {
    text-align: center;
}

body {
    background-color: cornflowerblue;
    font-family: Bahnschrift;
    color: black;
    margin: 20px;

}

#wynik {
    padding-top: 50px;
    color: yellow;
}